export const loginThunk = (username, password) => dispatch => {

    dispatch(loginRequest());
    
    postLogin(username, password).then(({ user, msg }) =>
        dispatch(loginSuccess(user));
        setTimeout(() => {
            dispatch(showMessage(msg));
        }, 2000);
    }, err => {
        dispatch(loginFailure(err));
    });

};

dispatch(loginThunk(username, password));
