function listOfItems(state = [], action = {}){
  switch(action.type) {
    case 'SHOW_ALL_ITEMS':
      return action.data.items
    default:
      return state;
  }
}

const item = {
  id: string,
  text: string,
  completed: boolean
};

function mapStateToProps(state) {
  return {
    incompleteItems: state.listOfItems.filter((item) => {
      return !item.completed
    });
  }
}