// Call
function* fetchProducts() {
  const products = yield call(Api.fetch, '/products')
  // handle the response...
}

// Put
function* fetchProducts() {
  const products = yield call(Api.fetch, '/products')
  // create and yield a dispatch Effect
  yield put({ type: 'PRODUCTS_RECEIVED', products })
}